<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.ino.admin.dao.AdminGalleryDAO">



	<select id="totalCount" parameterType="String" resultType ="int">
		SELECT COUNT (gallery_no) FROM gallery
	</select>


	<select id="list" resultType="com.ino.admin.dto.AdminGalleryDTO">
		SELECT gallery_no, gallery_subject, store_name, user_id, gallery_date, blind
		FROM gallery
		LIMIT 10 OFFSET #{offset}
	</select>	
	

	<update id= "gblind" parameterType="hashmap">
		UPDATE gallery SET blind = 1 where blind = 0 and gallery_no = #{param1};
	</update>
	
</mapper>